--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13
-- Dumped by pg_dump version 15.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: audio_files; Type: TABLE; Schema: public; Owner: ai_sound_user
--

CREATE TABLE public.audio_files (
    id integer NOT NULL,
    filename character varying(255) NOT NULL,
    original_name character varying(255),
    file_path text NOT NULL,
    file_size bigint DEFAULT 0,
    duration real DEFAULT 0.0,
    type character varying(50) DEFAULT 'unknown'::character varying,
    project_id integer,
    chapter_id integer,
    character_name character varying(100),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    is_favorite boolean DEFAULT false,
    metadata jsonb DEFAULT '{}'::jsonb
);


ALTER TABLE public.audio_files OWNER TO ai_sound_user;

--
-- Name: audio_files_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_sound_user
--

CREATE SEQUENCE public.audio_files_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audio_files_id_seq OWNER TO ai_sound_user;

--
-- Name: audio_files_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_sound_user
--

ALTER SEQUENCE public.audio_files_id_seq OWNED BY public.audio_files.id;


--
-- Name: books; Type: TABLE; Schema: public; Owner: ai_sound_user
--

CREATE TABLE public.books (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    author character varying(255) DEFAULT ''::character varying,
    description text DEFAULT ''::text,
    content text NOT NULL,
    chapters jsonb DEFAULT '[]'::jsonb,
    status character varying(50) DEFAULT 'draft'::character varying,
    tags jsonb DEFAULT '[]'::jsonb,
    word_count integer DEFAULT 0,
    chapter_count integer DEFAULT 0,
    source_file_path text,
    source_file_name character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.books OWNER TO ai_sound_user;

--
-- Name: books_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_sound_user
--

CREATE SEQUENCE public.books_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.books_id_seq OWNER TO ai_sound_user;

--
-- Name: books_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_sound_user
--

ALTER SEQUENCE public.books_id_seq OWNED BY public.books.id;


--
-- Name: chapters; Type: TABLE; Schema: public; Owner: ai_sound_user
--

CREATE TABLE public.chapters (
    id integer NOT NULL,
    project_id integer NOT NULL,
    title character varying(255),
    content text,
    chapter_number integer,
    status character varying(50) DEFAULT 'pending'::character varying,
    characters jsonb DEFAULT '[]'::jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.chapters OWNER TO ai_sound_user;

--
-- Name: chapters_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_sound_user
--

CREATE SEQUENCE public.chapters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.chapters_id_seq OWNER TO ai_sound_user;

--
-- Name: chapters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_sound_user
--

ALTER SEQUENCE public.chapters_id_seq OWNED BY public.chapters.id;


--
-- Name: novel_projects; Type: TABLE; Schema: public; Owner: ai_sound_user
--

CREATE TABLE public.novel_projects (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    book_id integer,
    status character varying(50) DEFAULT 'pending'::character varying,
    settings jsonb DEFAULT '{}'::jsonb,
    progress integer DEFAULT 0,
    total_chapters integer DEFAULT 0,
    completed_chapters integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.novel_projects OWNER TO ai_sound_user;

--
-- Name: novel_projects_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_sound_user
--

CREATE SEQUENCE public.novel_projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.novel_projects_id_seq OWNER TO ai_sound_user;

--
-- Name: novel_projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_sound_user
--

ALTER SEQUENCE public.novel_projects_id_seq OWNED BY public.novel_projects.id;


--
-- Name: reader_projects; Type: TABLE; Schema: public; Owner: ai_sound_user
--

CREATE TABLE public.reader_projects (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content text,
    status character varying(50) DEFAULT 'pending'::character varying,
    total_chapters integer DEFAULT 0,
    completed_chapters integer DEFAULT 0,
    settings jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.reader_projects OWNER TO ai_sound_user;

--
-- Name: reader_projects_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_sound_user
--

CREATE SEQUENCE public.reader_projects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.reader_projects_id_seq OWNER TO ai_sound_user;

--
-- Name: reader_projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_sound_user
--

ALTER SEQUENCE public.reader_projects_id_seq OWNED BY public.reader_projects.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ai_sound_user
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(255),
    password_hash character varying(255),
    is_active boolean DEFAULT true,
    is_admin boolean DEFAULT false,
    last_login timestamp with time zone,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO ai_sound_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: ai_sound_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO ai_sound_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ai_sound_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: voice_characters; Type: TABLE; Schema: public; Owner: ai_sound_user
--

CREATE TABLE public.voice_characters (
    id character varying(50) NOT NULL,
    name character varying(255) NOT NULL,
    gender character varying(20),
    age_range character varying(50),
    tags text[],
    quality_score real DEFAULT 0.0,
    usage_count integer DEFAULT 0,
    description text,
    audio_sample_path text,
    config jsonb DEFAULT '{}'::jsonb,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.voice_characters OWNER TO ai_sound_user;

--
-- Name: audio_files id; Type: DEFAULT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.audio_files ALTER COLUMN id SET DEFAULT nextval('public.audio_files_id_seq'::regclass);


--
-- Name: books id; Type: DEFAULT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.books ALTER COLUMN id SET DEFAULT nextval('public.books_id_seq'::regclass);


--
-- Name: chapters id; Type: DEFAULT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.chapters ALTER COLUMN id SET DEFAULT nextval('public.chapters_id_seq'::regclass);


--
-- Name: novel_projects id; Type: DEFAULT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.novel_projects ALTER COLUMN id SET DEFAULT nextval('public.novel_projects_id_seq'::regclass);


--
-- Name: reader_projects id; Type: DEFAULT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.reader_projects ALTER COLUMN id SET DEFAULT nextval('public.reader_projects_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: audio_files; Type: TABLE DATA; Schema: public; Owner: ai_sound_user
--

COPY public.audio_files (id, filename, original_name, file_path, file_size, duration, type, project_id, chapter_id, character_name, created_at, updated_at, is_favorite, metadata) FROM stdin;
\.


--
-- Data for Name: books; Type: TABLE DATA; Schema: public; Owner: ai_sound_user
--

COPY public.books (id, title, author, description, content, chapters, status, tags, word_count, chapter_count, source_file_path, source_file_name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: chapters; Type: TABLE DATA; Schema: public; Owner: ai_sound_user
--

COPY public.chapters (id, project_id, title, content, chapter_number, status, characters, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: novel_projects; Type: TABLE DATA; Schema: public; Owner: ai_sound_user
--

COPY public.novel_projects (id, name, book_id, status, settings, progress, total_chapters, completed_chapters, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: reader_projects; Type: TABLE DATA; Schema: public; Owner: ai_sound_user
--

COPY public.reader_projects (id, name, content, status, total_chapters, completed_chapters, settings, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ai_sound_user
--

COPY public.users (id, username, email, password_hash, is_active, is_admin, last_login, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: voice_characters; Type: TABLE DATA; Schema: public; Owner: ai_sound_user
--

COPY public.voice_characters (id, name, gender, age_range, tags, quality_score, usage_count, description, audio_sample_path, config, created_at, updated_at) FROM stdin;
\.


--
-- Name: audio_files_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_sound_user
--

SELECT pg_catalog.setval('public.audio_files_id_seq', 1, false);


--
-- Name: books_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_sound_user
--

SELECT pg_catalog.setval('public.books_id_seq', 1, false);


--
-- Name: chapters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_sound_user
--

SELECT pg_catalog.setval('public.chapters_id_seq', 1, false);


--
-- Name: novel_projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_sound_user
--

SELECT pg_catalog.setval('public.novel_projects_id_seq', 1, false);


--
-- Name: reader_projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_sound_user
--

SELECT pg_catalog.setval('public.reader_projects_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ai_sound_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: audio_files audio_files_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.audio_files
    ADD CONSTRAINT audio_files_pkey PRIMARY KEY (id);


--
-- Name: books books_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_pkey PRIMARY KEY (id);


--
-- Name: chapters chapters_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_pkey PRIMARY KEY (id);


--
-- Name: novel_projects novel_projects_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.novel_projects
    ADD CONSTRAINT novel_projects_pkey PRIMARY KEY (id);


--
-- Name: reader_projects reader_projects_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.reader_projects
    ADD CONSTRAINT reader_projects_pkey PRIMARY KEY (id);


--
-- Name: books unique_book_title; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT unique_book_title UNIQUE (title);


--
-- Name: voice_characters unique_character_name; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.voice_characters
    ADD CONSTRAINT unique_character_name UNIQUE (name);


--
-- Name: users unique_email; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_email UNIQUE (email);


--
-- Name: audio_files unique_file_path; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.audio_files
    ADD CONSTRAINT unique_file_path UNIQUE (file_path);


--
-- Name: novel_projects unique_novel_project_name; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.novel_projects
    ADD CONSTRAINT unique_novel_project_name UNIQUE (name);


--
-- Name: chapters unique_project_chapter; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT unique_project_chapter UNIQUE (project_id, chapter_number);


--
-- Name: reader_projects unique_project_name; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.reader_projects
    ADD CONSTRAINT unique_project_name UNIQUE (name);


--
-- Name: users unique_username; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT unique_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: voice_characters voice_characters_pkey; Type: CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.voice_characters
    ADD CONSTRAINT voice_characters_pkey PRIMARY KEY (id);


--
-- Name: chapters chapters_project_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.chapters
    ADD CONSTRAINT chapters_project_id_fkey FOREIGN KEY (project_id) REFERENCES public.reader_projects(id) ON DELETE CASCADE;


--
-- Name: novel_projects novel_projects_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ai_sound_user
--

ALTER TABLE ONLY public.novel_projects
    ADD CONSTRAINT novel_projects_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

